/* header.css
 * 'assets/css/header.css'
 * @author Keirran Blackley
 * @version 2.0
 * used for styling global header elements, suchas nav
*/

header {
  background: var(--header-bg);
  color: var(--header-col);
}
header .title { text-align: center; padding: calc(var(--text-spacing)*2); color: inherit; }


/*
 * responsive navigation, sticky
*/ 
nav { box-shadow: var(--box-shadow); overflow: hidden; background: var(--nav-bg); color: var(--nav-col); }
nav:after { content: ""; clear: both; display: table; }
nav img { width: 16px; }
nav i { margin-right: var(--text-spacing); }

nav ul, nav ol,
nav li { list-style: none; margin: 0; }

nav ul { width: 70%; }
nav ol { width: 30%; }
nav ol, nav ol li { float: right; }

/* Links */
nav a, nav a:visited,
nav .dropdown ol a, nav .dropdown ol a:visited { float: left; display: block; color: inherit; padding: var(--text-spacing); }
/* Links Active */
nav a.active, nav a:visited.active { background-color: var(--link-active-bg); color: var(--link-active-col); }

/* Dropdown */
nav .dropdown { float: left; overflow: hidden; }
/* Dropdown Parent Link */
nav .dropdown > a:first-child,
nav .dropdown > a:visited:first-child,
nav .dropdown ol { margin: 0 var(--text-spacing); }

/* Dropdown Content */
nav .dropdown ol { display: none; position: absolute; margin-top: calc(var(--text-spacing)*4); z-index: 80; box-shadow: var(--box-shadow); background-color: var(--nav-list-bg); }

/* Links Hover */
nav a:hover:not(.active), nav a:visited:hover:not(.active),
nav .dropdown ol a:hover:not(.active), nav .dropdown ol a:visited:hover:not(.active) { background-color: var(--nav-hover-bg); color: var(--nav-hover-col); }
nav a.active:hover { opacity: 0.8; }
/* Dropdown Parent Link Active and clipping fix */
nav .dropdown a:first-child:hover ~ ol,
nav .dropdown ol:hover { display: block; }
/* Dropdown Content Links */
nav .dropdown ol a, nav .dropdown ol a:visited { padding: var(--text-spacing) calc(var(--text-spacing)*2); min-width: 200px; width: 100%; background-color: var(--nav-droplink-bg); color: var(--nav-droplink-col); }


/*
 * sticky aspect
*/
header { margin-top: calc(var(--text-spacing)*4); }
nav { z-index: 90; position: fixed; width: 100%; top: 0; }
nav .dropdown ol { position: fixed; }




/*
 * Responsive Design
*/
/* Reset mobile icon */
nav #mobile-icon { display: none; }
nav ul > li > a:first-child:not(#mobile-icon) { padding: var(--text-spacing) calc(var(--text-spacing)*2); margin: 0 var(--text-spacing); }

@media screen and (max-width: 768px) {
  /* Resets Margins */
  nav ul > li > a:first-child:not(#mobile-icon) { margin: 0; }
  nav ol, nav ol li { float: left; }

  nav .dropdown > a:first-child, nav .dropdown > a:visited:first-child, nav .dropdown ol { margin: 0; }
  nav .dropdown > a:last-child, nav .dropdown > a:visited:last-child, nav .dropdown ol { margin-bottom: calc(var(--text-spacing)*2); }
  /* Hides Nav Links */
  nav a, nav a:visited, nav ol a, nav  ol a:visited { display: none; }
  /* Shows First Link */
  nav li:first-child a { display: block; }
  nav #mobile-icon { float: right; display: block; }
  nav #mobile-icon i { margin: 0 calc(var(--text-spacing)/2); }

  #nav ul { flex-direction: column; }
  
  /* Responsive Nav */
  nav.responsive { position: fixed; height: 100%; width: 80%;
    background-color: rgba(inherit,inherit,inherit,0.8);
    animation-name: animatetop;
    animation-duration: 0.5s 
  }
  nav.responsive ul { margin-top: 40px; }
  nav.responsive #mobile-icon { position: fixed; right: 0; top: 0; background-color: var(--nav-bg); width: 20%; text-align: right; }
  nav.responsive a { float: none; display: block; text-align: left; }
  nav.responsive .dropdown { float: none; }
  nav.responsive ol { position: relative; }
  nav.responsive .dropdown a:first-child { display: block; width: 100%; text-align: left; }
}